@page
@model Mediflow.Pages.Admin.ViewRegistersModel
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Pages/Shared/Admin/_AdminHome.cshtml";
    int count = 0;
}

<html>
<head>
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/Table/images/icons/favicon.ico" />

    @*<link rel="stylesheet" type="text/css" href="~/Table/vendor/bootstrap/css/bootstrap.min.css">*@

    <link rel="stylesheet" type="text/css" href="~/Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    @*<link rel="stylesheet" type="text/css" href="~/Table/vendor/animate/animate.css">*@


    @*<link rel="stylesheet" type="text/css" href="~/Table/vendor/select2/select2.min.css">*@

    <link rel="stylesheet" type="text/css" href="~/Table/vendor/perfect-scrollbar/perfect-scrollbar.css">

    @*<link rel="stylesheet" type="text/css" href="~/Table/css/util.css">*@
    <link rel="stylesheet" type="text/css" href="~/Table/css/main.css?123456789">
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>



</head>

<body>
    <div class="table100 ver1 m-b-110" style="width:840px;height:540px">

        <div class="table100-head">

            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column1">Sr. No</th>
                        <th class="cell100 column2">Name</th>
                        <th class="cell100 column2">Shop Name</th>
                        <th class="cell100 column2">Mobile</th>
                        <th class="cell100 column2">Status</th>
                        <th class="cell100 column5">BillType</th>
                        <th class="cell100 column5">View</th>

                    </tr>
                </thead>
            </table>
        </div>

        <div class="table100-body js-pscroll">
            <table>

                <tbody>

                    @foreach (var item in Model.CRegister)
                    {
                        count++;
                    <tr class="row100 body">
                        <td class="cell100 column1">@count</td>
                        <td class="cell100 column2"> @Html.DisplayFor(modelItem => item.Fname) @Html.DisplayFor(modelItem => item.Lname)</td>
                        <td class="cell100 column2">@Html.DisplayFor(modelItem => item.ShopName)</td>
                        <td class="cell100 column2">@Html.DisplayFor(modelItem => item.Mobile)</td>
                        @if (item.Status == "NotApproved")
                        {
                            <td class="cell100 column2"><span class="badge badge-danger" style="width:70px">*Pending</span></td>
                        }
                        else if (item.Status == "Disapproved")
                        {
                            <td class="cell100 column2"><span class="badge badge-warning" style="width:70px">@item.Status</span></td>
                        }
                        else if (item.Status == "Approved")
                        {
                            <td class="cell100 column2"><span class="badge badge-success" style="width:70px">@item.Status</span></td>

                        }
                        @if (item.IsCredit == true)
                        {
                            <td class="cell100 column2"><span class="badge badge-success" style="width:70px">Credit</span></td>
                        }
                        else if (item.IsCredit == false)
                        {
                            <td class="cell100 column2"><span class="badge badge-secondary" style="width:70px">Cash</span></td>
                        }
                        else if (item.IsCredit == null)
                        {
                            <td class="cell100 column2"><span class="badge badge-danger" style="width:70px">*Pending</span></td>

                        }

                        <td class="cell100 column5">


                            <form action="~/Admin/ViewProfile">

                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <input type="hidden" name="ChemistId" value="@Html.DisplayFor(modelItem=>item.Id)" />
                                        <button class="btn btn-primary btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="View">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </li>

                                </ul>


                            </form>
                        </td>
                    </tr>
                    }


                </tbody>
            </table>
        </div>


    </div>
</body>
</html>