@page
@model Mediflow.Pages.Admin.ViewAllReturnsModel
@{
    Layout = "~/Pages/Shared/Admin/_AdminHome.cshtml";
}
@Html.AntiForgeryToken()
<html>
<head>
    <link rel="icon" type="image/png" href="~/Table/images/icons/favicon.ico" />

    @*<link rel="stylesheet" type="text/css" href="~/Table/vendor/bootstrap/css/bootstrap.min.css">*@

    <link rel="stylesheet" type="text/css" href="~/Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    @*<link rel="stylesheet" type="text/css" href="~/Table/vendor/animate/animate.css">*@


    @*<link rel="stylesheet" type="text/css" href="~/Table/vendor/select2/select2.min.css">*@

    <link rel="stylesheet" type="text/css" href="~/Table/vendor/perfect-scrollbar/perfect-scrollbar.css">

    @*<link rel="stylesheet" type="text/css" href="~/Table/css/util.css">*@
    <link rel="stylesheet" type="text/css" href="~/Table/css/main.css?123456789">
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.btnAll').hide();
            $('#show_ret_inst').show();

            $('#ret_exp').click(function () {
               
                $('.btnAll').hide();
                $('#show_exp_ret').show();
            });
            $('#ret_instant').click(function () {
                
                $('.btnAll').hide();
                $('#show_ret_inst').show();
            });


            //Print Invoice

            $('#printBtn').click(function () {

                debugger;
                var printContents = $('#invoiceDiv').html();
                var originalContents = document.body.innerHTML;

                document.body.innerHTML = printContents;

                window.print();

                document.body.innerHTML = originalContents;

                location.reload();

            });
        });



    </script>
    <style>

        .card {
            z-index: 0;
            background-color: #ECEFF1;
            padding-bottom: 20px;
            border-radius: 10px
        }

        .top {
            padding-top: 40px;
            padding-left: 13% !important;
            padding-right: 13% !important
        }

        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            color: #455A64;
            padding-left: 0px;
            margin-top: 30px
        }

            #progressbar li {
                list-style-type: none;
                font-size: 13px;
                width: 20%;
                float: left;
                position: relative;
                font-weight: 400
            }

            #progressbar .step0:before {
                font-family: FontAwesome;
                content: "\f10c";
                color: #fff
            }

            #progressbar li:before {
                width: 40px;
                height: 40px;
                line-height: 45px;
                display: block;
                font-size: 20px;
                background: #99A3A4;
                border-radius: 50%;
                margin: auto;
                padding: 0px
            }

            #progressbar li:after {
                content: '';
                width: 100%;
                height: 12px;
                background: #99A3A4;
                position: absolute;
                left: 0;
                top: 16px;
                z-index: -1
            }

            #progressbar li:last-child:after {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                position: absolute;
                left: -50%
            }

            #progressbar li:nth-child(4):after,
            #progressbar li:nth-child(2):after,
            #progressbar li:nth-child(3):after {
                left: -50%
            }

            #progressbar li:first-child:after {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                position: absolute;
                left: 50%
            }

            #progressbar li:last-child:after {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px
            }

            #progressbar li:first-child:after {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px
            }

            #progressbar li.active:before,
            #progressbar li.active:after {
                background: #4fbfb0;
            }

            #progressbar li.active:before {
                font-family: FontAwesome;
                content: "\f00c"
            }

        .icon {
            width: 40px;
            height: 40px;
        }

        .icon-content {
            padding-bottom: 20px
        }

        @@media screen and (max-width: 992px) {
            .icon-content {
                width: 50%
            }
        }
    </style>

</head>

<body>

    <div id="customer-order" class="col-lg-9 pdfdownload">
        <div class="box" style="padding:12px; margin-bottom:15px">
            <ul id="pills-tab" role="tablist" class="nav nav-pills nav-justified" style="background-color:lightgray;">
                <li class="nav-item"><a id="ret_instant" style="color:black" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true" class="nav-link active">Instant Returns</a></li>
                <li class="nav-item"><a id="ret_exp" style="color:black" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false" class="nav-link">Expiry Returns</a></li>



            </ul>



        </div>
        <div class="btnAll" id="show_exp_ret">
            <div class="table100 ver1 m-b-110 " style="width:825px;height:540px">

                <div class="table100-head">

                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Sr. No</th>

                                <th class="cell100 column2">Shop Name</th>
                                <th class="cell100 column2">Return Date</th>
                                <th class="cell100 column2">Status</th>
                                <th class="cell100 column5">Payable</th>
                                <th class="cell100 column5">View</th>

                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>

                        <tbody>
                            @{int count = 0; }
                            @foreach (var item in Model.SPGetReturn)
                            {
                                count++;
                                <tr class="row100 body">

                                    <td class="cell100 column1">@count</td>
                                    <td class="cell100 column2">@Html.DisplayFor(modelItem => item.ShopName)</td>
                                    <td class="cell100 column2">@item.RM_date.Value.ToString("dd/MM/yyyy")</td>
                                    <td class="cell100 column2"><span class="badge badge-warning" style="width:80px">Expiry Return</span></td>
                                    <td class="cell100 column5">@Html.DisplayFor(modelItem => item.RM_finalPayable)</td>



                                    <td class="cell100 column5">


                                        <form action="~/Admin/ReturnInvoiceAdmin">

                                            <ul class="list-inline m-0">
                                                <li class="list-inline-item">
                                                    <input type="hidden" name="RMid" value="@item.RMaster_Id" />
                                                    <input type="hidden" name="ChemistId" value="@Html.DisplayFor(modelItem=>item.Id)" />
                                                    <button class="btn btn-primary btn-sm rounded-0" type="submit">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </li>

                                            </ul>


                                        </form>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>


            </div>
        </div>
        <div class="btnAll" id="show_ret_inst">
            <div class="table100 ver1 m-b-110"style="width:825px;height:540px">


                

                    <div class="table100-head">

                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Sr. No</th>

                                    <th class="cell100 column2">Shop Name</th>
                                    <th class="cell100 column2">Return Date</th>
                                    <th class="cell100 column2">Status</th>
                                    <th class="cell100 column5">Payable</th>
                                    <th class="cell100 column5">View</th>

                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>

                            <tbody>
                                @{int countt = 0; }
                                @foreach (var item in Model.SpGetInstantReturn)
                                {
                                    countt++;
                                    <tr class="row100 body">

                                        <td class="cell100 column1">@countt</td>
                                        <td class="cell100 column2">@Html.DisplayFor(modelItem => item.ShopName)</td>
                                        <td class="cell100 column2">@item.RM_date.Value.ToString("dd/MM/yyyy")</td>
                                        <td class="cell100 column2"><span class="badge badge-warning" style="width:80px">Instant Return</span></td>
                                        <td class="cell100 column5">@Html.DisplayFor(modelItem => item.RM_finalPayable)</td>



                                        <td class="cell100 column5">


                                            <form action="~/Admin/ReturnInvoiceAdmin">

                                                <ul class="list-inline m-0">
                                                    <li class="list-inline-item">
                                                        <input type="hidden" name="RMid" value="@item.RMaster_Id" />
                                                        <input type="hidden" name="ChemistId" value="@Html.DisplayFor(modelItem=>item.Id)" />
                                                        <button class="btn btn-primary btn-sm rounded-0" type="submit">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </li>

                                                </ul>


                                            </form>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>


               
            </div>

        </div>

</body></html>