@page
@model Mediflow.Pages.HomePageModel
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Pages/Shared/Chemist/_ChemistHome.cshtml";
}
<html>
<head>

   


</head>
<body>



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @*<div class="box slideshow" style="background-color:#4fbfb0; border-radius:10px; height:835px; width:1084px">*@
                @*<div style="margin:5px">
                        <h3>Welcome To Mediflow  </h3>
                        <p class="lead" style="color:azure">Now order medicines <i class="fa fa-laptop"></i> hassle-free from our website. Explore our <strong>500</strong> products</p>
                    </div>*@
                <div @*id="get-inspired"*@ id="main-slider" class="owl-carousel owl-theme">



                    <div class="item"><a href="#"><img src="~/Chemist/assets/img/meds/background.jpg" alt="Get inspired" class="img-fluid"></a></div>
                    <div class="item"><a href="#"><img src="~/Chemist/assets/img/meds/img6.jpg" alt="Get inspired" class="img-fluid"></a></div>
                    <div class="item"><a href="#"><img src="~/Chemist/assets/img/meds/GroupMeds.jpg" alt="Get inspired" class="img-fluid"></a></div>
                </div>
                @*</div>*@
            </div>
        </div>
    </div>




    <!--
    *** ADVANTAGES HOMEPAGE ***
    _________________________________________________________
    -->
    <!-- /#advantages-->
    <!-- *** ADVANTAGES END ***-->
    <!--
    *** HOT PRODUCT SLIDESHOW ***
    _________________________________________________________
    -->
 


    <!--ANother Scroll Meds-->
    <div id="hot">
        <div class="box py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-0">Our Top Products</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="product-slider owl-carousel owl-theme">
                @if (Model.ProductList != null)
                {

                    @for (int i = 0; i < Model.ProductList.Count; i++)
                    {
                        byte[] bytes = Model.ProductList[i].Image;
                        string base64String = null;
                        if (bytes != null)
                        {
                            base64String = "data:image/png;base64," + Convert.ToBase64String(bytes, 0, bytes.Length);
                        }
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">

                                        <div class="front"><a asp-page="/Chemist/DetailedProduct" asp-route-id="@Model.ProductList[i].ItemId"><img style="height:170px; width:170px" src="@base64String" alt="" class="img-fluid"></a></div>
                                        <div class="back"><a asp-page="/Chemist/DetailedProduct" asp-route-id="@Model.ProductList[i].ItemId"><img style="height:170px; width:170px" src="@base64String" alt="" class="img-fluid"></a></div>
                                    </div>
                                </div><a asp-page="/Chemist/DetailedProduct" asp-route-id="@Model.ProductList[i].ItemId" class="invisible"><img style="height:170px; width:170px" src="@base64String" alt="" class="img-fluid"></a>
                                <div class="text">
                                    <h3><a asp-page="/Chemist/DetailedProduct" asp-route-id="@Model.ProductList[i].ItemId">@Model.ProductList[i].ItemName</a></h3>
                                    <p class="price">
                                        <del>₹</del> @Model.ProductList[i].Mrp
                                    </p>
                                </div>
                                <!-- /.text-->
                                <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon-->
                                <div class="ribbon new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon-->
                                <div class="ribbon gift">
                                    <div class="theribbon">2% off</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon-->
                            </div>
                            <!-- /.product-->
                        </div>
                    }
                }
                <!-- /.product-slider-->
            </div>
            <!-- /.container-->
        </div>
        <!-- /#hot-->
        <!-- *** HOT END ***-->



    </div>


    <!--
    *** GET INSPIRED ***
    _________________________________________________________
    -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="main-slider" class="owl-carousel owl-theme">
                    <div class="item"><img style=" height:579px ; width:1108px" src="~/Chemist/assets/img/meds/bottle.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img style=" height:579px ; width:1108px" src="~/Chemist/assets/img/meds/Pill.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img style=" height:579px ; width:1108px" src="~/Chemist/assets/img/meds/GroupMeds.jpg" alt="" class="img-fluid"></div>
                    <div class="item"><img style=" height:579px ; width:1108px" src="~/Chemist/assets/img/meds/blacksmeds.jpg" alt="" class="img-fluid"></div>
                </div>

            </div>
        </div>
    </div>

    <div id="advantages">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                        <div class="icon"><i style="margin-top:50px" class="fa fa-heart"></i></div>
                        <h3><a href="#"><b>We love our customers</b></a></h3>
                        <p class="mb-0">We are known to provide best possible service ever</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                        <div class="icon"><i style="margin-top:50px" class="fa fa-tags"></i></div>
                        <h3><a href="#"><b>Best prices</b></a></h3>
                        <p class="mb-0">You can check products and check out our dynamic range of <strong>500 products</strong>.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                        <div class="icon"><i style="margin-top:50px" class="fa fa-thumbs-up"></i></div>
                        <h3><a href="#"><b>100% satisfaction guaranteed</b></a></h3>
                        <p class="mb-0">Free returns before 3 months of expiry.</p>
                    </div>
                </div>
            </div>
            <!-- /.row-->
        </div>
        <!-- /.container-->
    </div>
    <!-- *** GET INSPIRED END ***-->
    <!--
    *** BLOG HOMEPAGE ***
    _________________________________________________________
    -->
    <div class="box text-center">
        <div class="container">
            <div class="col-md-12">
                <h3 class="text-uppercase">Still Not Started?</h3>
                <p class="lead mb-0">Join Mission of Digital India! <a href="/Home/RegisterChemist">Register on Mediflow!</a></p>
            </div>
        </div>
    </div>
    <!--<div class="container">
        <div class="col-md-12">
            <div id="blog-homepage" class="row">
                <div class="col-sm-6">
                    <div class="post">
                        <h4><a href="post.html">Fashion now</a></h4>
                        <p class="author-category">By <a href="#">John Slim</a> in <a href="">Fashion and style</a></p>
                        <hr>
                        <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                        <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="post">
                        <h4><a href="post.html">Who is who - example blog post</a></h4>
                        <p class="author-category">By <a href="#">John Slim</a> in <a href="">About Minimal</a></p>
                        <hr>
                        <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                        <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
                    </div>
                </div>
            </div>-->
    <!-- /#blog-homepage-->
    <!--</div>
    </div>-->
    <!-- /.container-->
    <!-- *** BLOG HOMEPAGE END ***-->
    </div>


    </div>




</body></html>